status is-login; and begin

{{ if eq .chezmoi.os "darwin" }}
    # Bootstrap Homebrew environment
    # /opt/homebrew/bin/brew shellenv | source
{{ end }}

    # Source Nix profile if installed
    if test -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.fish'
        source '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.fish'
    end

end

status is-interactive; and begin

    # Disable the default greeting message
    set fish_greeting

    # Theme
    fish_config theme choose catppuccin-frappe --color-theme=dark

    # Use vim key bindings
    fish_vi_key_bindings
    bind -M insert \cr history-pager

    # Required by GPG agent for passphrase prompts in the terminal
    set -x GPG_TTY (tty)

    # Set nvim as the default editor
    set -x EDITOR nvim
    set -x VISUAL nvim

    # Prompt
    if test "$TERM" != dumb
        starship init fish | source
    end

    # Auto-load/unload .envrc on directory change
    direnv hook fish | source

    # Auto-start tmux on interactive shells outside tmux
    if not set -q TMUX
        tmux attach 2>/dev/null; or tmux new-session -s default -c ~
    end

end
