# ==============================================================================
# CASKS
# ==============================================================================
cask "font-jetbrains-mono-nerd-font"  # JetBrains Mono with Nerd Font icons
cask "ghostty"                        # GPU-accelerated terminal emulator
cask "karabiner-elements"             # Keyboard customizer for macOS
cask "flux-app"
cask "spotify"
cask "zen"
cask "obsidian"

{{ if eq .profile "zippy" }}
{{ end }}
